h1 {
    background-color: blue;
    color: white;
    padding: 70px;
    text-align: center;
}

h4 {
    color: blue;
}

.margin-space {
    margin: 5px;
}

.footer {
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}